
.main{
    display: flex;
    margin: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.new-todo{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 2rem;
}

.button{
    margin-top: 1.2rem;
}

.new-todo,label{
    margin-left: 2rem;
}

.input{
    display: flex;
    flex-direction: column;
}
.top-bar{
    background-color: lightgrey;
    padding: 0.5rem;
    box-shadow: 0px, 0.5rem, 4px, rgba(0,0,0,0.3);
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.top-bar>img{
    height: 3rem;
    width: 4rem;
    margin-right: 1rem;
}

.Medium{
    background-color: orange;
    padding: 0.25rem;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.High{
    background-color: red;
    padding: 0.25rem;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.Low{
    background-color: green;
    padding: 0.25rem;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.Doing{
    background-color: orange;
    padding: 0.25rem;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.Done{
    background-color: green;
    padding: 0.25rem;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.Waiting{
    background-color: grey;
    padding: 0.25rem;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.tool-bar{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    border-bottom: solid 1px lightgrey;
    margin-right: 1rem;
}

.tab{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.tab,span {
    border-right: black 1px solid;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-items: center;
}

.tab :hover{
    cursor: pointer;
    background-color: lightgrey;
    border-radius: 10px;
}

.location{
    margin-left: 2rem;
    width: full;
    border-bottom: solid 1px lightgrey;
    margin-right: 1rem;
}

.register-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40rem;
    border: solid 1px lightgrey;
    padding: 1rem;
    border-radius: 10px;
}

.auth-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-top: 10rem;
}

.auth-input{
    display: flex;
    flex-direction: column;
    width: 15rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}