version: "3.9"

services:
  backend:
    build: ./backend
    container_name: todo_express_api
    ports:
      - "5000:5000"
    restart: unless-stopped

  frontend:
    build: ./client
    container_name: todo_frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped
